.greenTable8 {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.greenTh8 {
  color: #1a1827;
  background-color: #a2f3c7;
  padding: 10px;
  padding-left: 32px;
  border: 1px solid #a2f3c7;
}

.darkGreenTh8 {
  color: white;
  background-color: #2ab863;
  padding: 10px;
  padding-left: 32px;
  text-align: center;
  border: 1px solid #2ab863;
}

.greenTd8 {
  padding: 10px;
  padding-left: 16px;
  text-align: left;
  border: 1px solid #a2f3c7;
}
