.container-light {
  background-color: #fffbeb;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 1.05rem;
  width: 100%;
  color: #1a1827;
  border-bottom: 1px solid #ef8e2e;
  display: flex;
  font-size: 1.25rem;
}

.box-orange {
  display: flex;
  width: 100%;
  padding: 0.75rem 2rem;
  align-items: flex-start;
  gap: 0.5rem;
  border: 1px solid #ef8e2e;
  flex-direction: column;
}
