#table {
  width: 100%;
}

.tbody tr {
  height: 47px;
}

.tbody th {
  font-size: 1em;
  color: #464742;
  font-weight: 400;
}
.tbody th:nth-child(1n) {
  border: 1px 1px 1px 0px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #b8c4ff;
}
.tbody th:nth-child(3) {
  border-width: 1px 0px 1px 0px;
}

.dark-mode .tbody th {
  background-color: rgba(255, 255, 255, 0.12);
  color: #e3e3db;
}

.greenTable {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem auto;
  table-layout: fixed;
  background-color: rgba(255, 255, 255, 0.12);
  word-wrap: break-word;
}

.greenTh8 {
  color: #1a1827;
  background-color: #a2f3c7;
  padding: 10px;
  padding-left: 32px;
  border-bottom: 1px solid #42c87e;
  border-left: 1px solid #42c87e;
  text-align: center;
}

.darkGreenTh8 {
  color: white;
  background-color: #2ab863;
  padding: 10px;
  padding-left: 32px;
  text-align: center;
  border: 1px solid #2ab863;
}

.darkGreenTd {
  padding: 10px;
  text-align: left;
  border: 1px solid #42c87e;
}

.greenTh {
  color: #1a1827;
  background-color: #a2f3c7;
  padding: 10px;
  text-align: center;
  border: 1px solid #a2f3c7;
}

.greenTd {
  padding: 10px;
  text-align: left;
  border: 1px solid #a2f3c7;
}

.greenTd:first-child {
  border-left: none;
}

.greenTd:last-child {
  border-right: none;
}

.greyTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
  margin: auto;
}

.greenFontTh {
  color: #7bab33;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
}

.purpleFontTh {
  color: #a42ab8;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
}

.greyTable th,
td,
.greyTable tbody td:last-child {
  border: none;
  vertical-align: text-top;
}

.greyTable tbody td {
  border-right: 4px solid #e6e7e8;
  padding-left: 40px;
}

.greyTable tr,
td {
  align-items: start;
}

.grayTable {
  border-collapse: collapse;
  width: 100%;
  align-items: flex-start;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.12);
}

.grayTable th,
.grayTable td {
  padding: 12px;
  border: 0;
}

.grayTable td {
  border-top: 0.5px solid #e5e5e5;
  font-size: 1em;
}

.grayTable th {
  font-size: 1.5em;
}

.font-semibold {
  font-weight: 600;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.number {
  color: #ef8e2e;
  font-family: "Open Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-right: 1rem;
  border-right: 2px solid #ef8e2e;
  padding-right: 1.31rem;
}

.description {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.dark-mode .description {
  color: #464742;
}

@media (max-width: 500px) {
  .tbody tr {
    height: 64px;
  }
  .tbody th {
    font-size: 14px;
  }
}
